
*.bak
*.ppu
*.o
*.dcr
*.compiled
/Demos/delphi/CAD2D/__history
*.~dsk
*.exe
*.dcu
/Packages/delphi/__history
/Sources/__history
*.zip
*.old
/Tools/logs/
/Tools/build/
*.identcache
*.dproj.local
*.dsk
*.stat
__history/
/Test/Win32/
/Test/Win64/
